<div class="row-fluid banner-ventas">
    <img src="css\images\afiliados.png" />
</div>

<div class="form-cliente">
    <form name="form" ng-submit="agregarAliado()" class="css-form " role="form">
        <div style="margin-left:3%;   margin-top: 10px; margin-bottom: 10px;">
            <select id="cmbAliado" name="cmbAliado" style="width:68%"
                    kendo-drop-down-list="cmbAliado" options="aliadosSelectOpts"
                    data-ng-model="aliado" required></select>
            
            <button type="submit" ng-disabled="form.$invalid || Cargar1 " class="btn btn-info">Guardar</button>
            <!--<button  tng-click="agregarAliado()" class="btn btn-info" >Agregar</button>-->

        </div>
    </form>
    <div class="form-group">
        <input type="text" ng-model="filter5" class="form-control" id="txtFilter" name="txtFilter" style="width:80%; height:35px !important" placeholder="Search...">
        <button ng-click="AfiliadosClientesFiltrar()" class="btn btn-primary btn-lg btn-block fa fa-search" style="height:35px; width:35px; margin-left:82%; margin-top:-18%"></button>
    </div>
    <div id="divAfiliadosCliente"  kendo-mobile-list-view="aliados" options="aliadosClienteOpts" />

    <br />
    <div ng-show="ShowPagingAfiliadosClientes">
        <button type="button" class="btn btn-primary" ng-click="AfiliadosClientesPaginadosPrev()" ng-disabled="Prev5">
            &lt; PREV
        </button>
        <button type="button" class="btn btn-primary" ng-click="AfiliadosClientesPaginadosNext()" ng-disabled="Next5" style="margin-left:45%">
            NEXT &gt;
        </button>
    </div>
</div>

<script id="tmpAfiliadosCliente" type="text/x-kendo-tmpl">

    <div>
        <h3>
            {{dataItem.Afiliado.Cliente.Tercero.Nombre}}
        </h3>
        <div>
            {{dataItem.FechaIngreso | date : 'dd-MM-yyyy'}}
        </div>
    </div>

</script>

