<div class="row-fluid banner-ventas">
    <img src="css\images\beneficiario.png" />
</div>

<div class="form-cliente">
    <form name="form" ng-submit="agregarBeneficiario()" class="css-form " role="form">
        <div class="container pad-top" style="margin-left:-2%;   margin-top: 10px; margin-bottom: 10px;">
            <select id="cmbBeneficiario" selectedIndex="-1" name="cmbBeneficiario" style="width:65%;"
                    kendo-drop-down-list="cmbBeneficiario" options="beneficiariosSelectOpts"
                    data-ng-model="benef" required></select>
            <!--<button ng-click="agregarBeneficiario()" class="btn btn-info">Agregar</button>-->
            <button type="submit" ng-disabled="form.$invalid || Cargar " class="btn btn-info">Agregar</button>
        </div>
    </form>


   

    <br />
    <div class="form-group">
        <input type="text" ng-model="filter6" class="form-control" id="txtFilter" name="txtFilter" style="width:80%; height:35px !important" placeholder="Search...">
        <button ng-click="BeneficiariosClientesFiltrar()" class="btn btn-primary btn-lg btn-block fa fa-search" style="height:35px; width:35px; margin-left:85%; margin-top:-18%"></button>
    </div>

    <div id="divBenefCliente" kendo-mobile-list-view="benefs" options="benefClienteOpts" />

    <br />
    <div ng-show="ShowPagingBeneficiariosClientes">
        <button type="button" class="btn btn-primary" ng-click="BeneficiariosClientesPaginadosPrev()" ng-disabled="Prev6">
            &lt; PREV
        </button>
        <button type="button" class="btn btn-primary" ng-click="BeneficiariosClientesPaginadosNext()" ng-disabled="Next6" style="margin-left:45%">
            NEXT &gt;
        </button>
    </div>
</div>



    <script id="tmpBenefCliente" type="text/x-kendo-tmpl">

        <a class="container list-style" href="\#/cargarPuntos/{{dataItem.BeneficiariosClienteId}}">
            <div>
                <h3 class="title-list">
                    {{dataItem.Beneficiario.Tercero.Nombre}}
                </h3>
                <div>
                    <label class="lbl-list">Saldo:</label>
                    <span class="vlr-list"> {{dataItem.Saldo | currency: $ : 2}}</span>
</div>
                <div>
                    <label class="lbl-list">Fecha Ingreso:</label>
                    <span class="vlr-list"> {{dataItem.FechaIngreso | date : 'dd-MM-yyyy'}}</span>
</div>
                <div>
                    <label class="lbl-list">Puntos:</label>
                    <span class="vlr-list">{{dataItem.Puntos | number : 2}}</span>
</div>
            </div>
        </a>

    </script>
