<div class="row-fluid banner-ventas">
    <img src="css\images\clientes.png" />
</div>

<div class="container css-form form-cliente">
    <h2 class="titles-vw"> Listar Clientes</h2>



    <div class="col-sm-12">
        <button ng-click="goPath('/clientesDetails/0')" class="btn btn-primary btn-lg btn-block">Nuevo Cliente</button>
    </div>

    <div id="space"></div>

    <div class="form-group">
        <input type="text" ng-model="filter2" class="form-control" id="txtFilter" name="txtFilter" style="width:80%; height:35px !important" placeholder="Search...">
        <button ng-click="ClientesFiltrar()" class="btn btn-primary btn-lg btn-block fa fa-search" style="height:35px; width:35px; margin-left:250px; margin-top:-54px"></button>
    </div>

    <div id="example">
        <kendo-mobile-list-view options="clientesGridOptions" id="gridClientes" />
    </div>

    <div id="space"></div>


    <script id="tmpClientes" type="text/x-kendo-tmpl">
        <a class="container list-style line-list" href="\#/clientesDetails/{{dataItem.ClienteId}}">
            <div>

                {{dataItem.Tercero.Nombre}}

                <div>
                    <label class="lbl-list">Identificación:</label>
                    <span class="vlr-list">{{dataItem.Tercero.Identificacion}}</span>
                </div>
            </div>
        </a>
    </script>

    <div>

        <button type="button" class="btn btn-primary" ng-click="ClientesPaginadosPrev()" ng-disabled="Prev2">
            &lt; PREV
        </button>

        <button type="button" class="btn btn-primary" ng-click="ClientesPaginadosNext()" ng-disabled="Next2" style="margin-left:135px">
            NEXT &gt;
        </button>

    </div>

</div>




