<div class="row-fluid banner-ventas">
    <img src="css\images\ventas.png" />
</div>

<div class="container css-form form-cliente">
    <p class="center"> Listar Clientes</p>



    <div class="col-sm-12">
        <button ng-click="goPath('/clientesDetails/0')" class="btn btn-primary btn-lg btn-block">Nuevo Cliente</button>
    </div>

    <div id="space"></div>

    <div id="example">
        <kendo-mobile-list-view options="clientesGridOptions" />
    </div>

    <div id="space"></div>


    <script id="tmpClientes" type="text/x-kendo-tmpl">
        <a class="container list-style line-list" href="\#/clientesDetails/{{dataItem.ClienteId}}">
            <div>

                {{dataItem.Tercero.Nombre}}

                <div>
                    <label class="lbl-list">Identificacion:</label>
                    <span class="vlr-list">{{dataItem.Tercero.Identificacion}}</span>
                </div>
            </div>
        </a>
    </script>


</div>




