<div class="row-fluid banner-ventas">
    <!--<img src="css\images\Informacion-beneficiario3.png" />-->

    <img style="margin-top:-43px"src="css\images\Informacion-beneficiario4.png" />
</div>
<div class="container css-form form-cliente" >
    <div id="form" kendo-tab-strip k-content-urls="[ null, null]"  style="background-color: rgba(255, 255, 255, 0) !important">
        <!-- tab list -->
        <ul>

            <li id="perfil" ng-show="showEstados" >Perfil</li>
            <li id="cuenta" ng-show="showEstados">Cuentas</li>
        </ul>


        <!--segundo tab-->
        <div style="padding: 20px 1px" >
            <form name="form" ng-submit="guardarbeneficiario()" class="css-form " role="form">
                <div class="col-md-12 ">

                    <div class="space1"></div>

                    <div class="form-group">
                        <label>Cédula</label>
                        <input type="text" ng-model="beneficiario.Tercero.Identificacion" class="form-control" id="txtIdentificacion" name="txtIdentificacion" required placeholder="Cédula" ng-pattern="onlyNumber" >
                        <span ng-show="form.txtIdentificacion.$dirty && form.txtIdentificacion.$error.required" class="help-block">Identificación es requerida</span>
                        <span ng-show="form.txtIdentificacion.$error.pattern" class="help-block">Verifique que la identificación sea numérica</span>
                    </div>

                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" ng-model="beneficiario.Tercero.Nombre" class="form-control" id="txtNombre" name="txtNombre" required placeholder="Nombre">
                        <span ng-show="form.txtNombre.$dirty && form.txtNombre.$error.required" class="help-block">Nombre es requerido</span>
                    </div>

                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" ng-model="beneficiario.Tercero.Apellidos" class="form-control" id="txtApellidos" required placeholder="Apellidos">
                        <span ng-show="form.txtApellidos.$dirty && form.txtApellidos.$error.required" class="help-block">Apellido es requerido</span>
                    </div>

                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" ng-model="beneficiario.Tercero.Direccion" class="form-control" id="formRegBen" placeholder="Dirección">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" ng-model="beneficiario.Tercero.Telefono" class="form-control" id="formRegBen" placeholder="Teléfono" name="txtTelefono" ng-pattern="onlyNumber">
                        <span ng-show="form.txtTelefono.$error.pattern" class="help-block">Verifique que el teléfono sea numérico </span>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" class="form-control" ng-model="beneficiario.Tercero.Celular" id="formRegBen" placeholder="Celular" name="txtCelular" ng-pattern="onlyNumber">
                        <span ng-show="form.txtCelular.$error.pattern" class="help-block">Verifique que el celular sea numérico </span>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" ng-model="beneficiario.Tercero.Correo" id="formRegBen" placeholder="Email" name="txtEmail" required>
                        <span ng-show="form.txtEmail.$error.pattern" class="help-block">Verifique que el email sea valido</span>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label>Nombre de su primera mascota?</label>
                        <input type="password" ng-model="beneficiario.Tercero.Pregunta1" class="form-control" id="txtpregunta1" name="txtpregunta1" required>
                        <span ng-show="form.txtpregunta1.$dirty && form.txtpregunta1.$error.required" class="help-block">Pregunta es requerida</span>
                    </div>

                    <div class="form-group">
                        <label>Nombre de su tío preferido?</label>
                        <input type="password" ng-model="beneficiario.Tercero.Pregunta2" class="form-control" id="txtpregunta2" name="txtpregunta2" required>
                        <span ng-show="form.txtpregunta2.$dirty && form.txtpregunta2.$error.required" class="help-block">Pregunta es requerida</span>
                    </div>

                    <div class="form-group">
                        <label>En que ciudad naciste?</label>
                        <input type="password" ng-model="beneficiario.Tercero.Pregunta3" class="form-control" id="txtpregunta3" name="txtpregunta3" required>
                        <span ng-show="form.txtpregunta3.$dirty && form.txtpregunta3.$error.required" class="help-block">Pregunta es requerida</span>
                    </div>
                    <div class="form-group">
                        <div class="row-fluid">
                            <div class="col-md-2">
                                <label style="margin-left:11% !important; margin-top:3%; font-size:12px !important">Acepta Términos y Condiciones</label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" ng-model="beneficiario.Tercero.AceptaTerminosCondiciones" required="required" class="form-control" id="check" name="check" required style="width:15px; margin-top:-7%; height:15px !important;">
                            </div>
                            <!--  <span ng-show="form.check.$dirty && form.check.$error.required" class="help-block">Aceptar los terminos</span>-->
                        </div>
                    </div>



                    <div ng-show="!IsEditing" class="css-form form-cliente">
                        <h3>Login</h3>
                        <div class="form-group">
                            <label>Login</label>
                            <input type="text" ng-required="!IsEditing" class="form-control" ng-model="security.Login" id="txtLogin" name="txtLogin" placeholder="Login">
                            <span ng-show="form.txtLogin.$dirty && form.txtLogin.$error.required" class="help-block">Login es requerido</span>
                        </div>

                        <div class="form-group">
                            <label>Nueva Clave</label>
                            <input type="password" ng-required="!IsEditing" data-ng-model="security.newClave" class="form-control" id="txtClaveNew" name="txtClaveNew" placeholder="Nueva clave">
                            <span ng-show="form.txtClaveNew.$dirty && form.txtClaveNew.$error.required" class="help-block">Clave es requerida</span>
                        </div>

                        <div class="form-group">
                            <label>Confirmar Clave</label>
                            <input type="password" ng-required="!IsEditing" data-ng-model="security.newClaveConfirm" class="form-control" id="txtClaveConfirm" name="txtClaveConfirm" placeholder="Confirmar clave">
                            <span ng-show="form.txtClaveConfirm.$dirty && form.txtClaveConfirm.$error.required" class="help-block">Clave es requerida</span>
                            <span ng-show="form.txtClaveConfirm.$dirty && security.newClave != security.newClaveConfirm" class="help-block">La clave no coincide</span>
                        </div>

                        <div class="form-group">
                            <label>Nuevo PIN</label>
                            <input type="password" ng-required="!IsEditing" ng-maxlength="4" ng-minlength="4" data-ng-model="security.newPIN" class="form-control" id="txtPINNew" name="txtPINNew" placeholder="Nuevo PIN">
                            <span ng-show="form.txtPINNew.$dirty && form.txtPINNew.$error.required" class="help-block">PIN es requerido</span>
                            <span ng-show="form.txtPINNew.$dirty && security.newPIN.length!=4" class="help-block">PIN es de 4 digitos</span>
                        </div>

                        <div class="form-group">
                            <label>Confirmar PIN</label>
                            <input type="password" ng-required="!IsEditing" ng-maxlength="4" ng-minlength="4" data-ng-model="security.newPINConfirm" class="form-control" id="txtPINConfirm" name="txtPINConfirm" placeholder="Confirmar PIN">
                            <span ng-show="form.txtPINConfirm.$dirty && form.txtPINConfirm.$error.required" class="help-block">PIN es requerido</span>
                            <span ng-show="form.txtPINConfirm.$dirty && security.newPIN != security.newPINConfirm" class="help-block">El nuevo PIN no coincide</span>
                            <span ng-show="form.txtPINConfirm.$dirty && security.newPINConfirm.length!=4" class="help-block">PIN es de 4 digitos</span>
                        </div>
                    </div>
                </div>

                <div id="buttons">
                    <button type="submit" ng-disabled="form.$invalid || (security.newClave != security.newClaveConfirm && !IsEditing) || Load" class="btn btn-info">Guardar</button>
                    <button class="btn btn-success" ng-show="IsEditing" ng-click="deletebeneficiario()" >Eliminar</button>
                    <button class="btn btn-danger" style="background: brown !important" ng-show="canCancel" ng-click="goPath('/beneficiarios')">Cancelar</button>
                </div>
            </form>
        </div>

        <!--primer tab-->
        <div style="padding: 20px 1px" ng-show="showEstados">
            <!--<div ng-include="template.estadoCuentas"></div>-->
            <div>
                <h2 class="titles-vw">Estado de cuentas</h2>  

                <kendo-mobile-list-view id="gridCuentasBeneficiario" options="cuentasBeneficiarioOptions" />

            </div>
        </div>

    </div>


</div>

<script id="tmpCuentasBeneficiario" type="text/x-kendo-tmpl">
    <a class="container list-style" href="\#/detallesCuentaBeneficiario/{{dataItem.BeneficiariosClienteId}}/{{dataItem.Cliente.Tercero.Nombre}}">
        <div>
            <h3 class="title-list">
                {{dataItem.Cliente.Tercero.Nombre}}
               </h3>
                <div>
                    {{dataItem.Saldo | currency : $ : 2}}
                </div>
                <div>
                    {{dataItem.Puntos | number: 2}}
                </div>
</div>
    </a>
</script>



<script id="delete-confirmation" type="text/x-kendo-template">
    <p class="delete-message">Desea eliminar el beneficiario?</p>

    <button class="delete-confirm k-button">Si</button>
    <a href="#" class="delete-cancel">No</a>
</script>

