

<div class="row-fluid banner-ventas">
    <img src="css\images\beneficiario.png" />
</div>
<div class="container form-cliente">
    <h2 class="titles-vw">
        Listar beneficiarios</h2>

        <button ng-click="goPath('/beneficiariosDetails/0')" class="btn btn-primary btn-lg btn-block">Nuevo beneficiario</button>
        <div id="space"></div>





        <div id="example">

            <kendo-mobile-list-view id="gridBeneficiarios" options="beneficiariosGridOptions">
            </kendo-mobile-list-view>

        </div>

        <div id="space"></div>


        <script id="rowBeneficiariosTemplate2" type="text/x-kendo-tmpl">
            <a class="container list-style" href="\#/beneficiariosDetails/{{dataItem.BeneficiarioId}}">
                <tr>
                    <td>
                        {{dataItem.Tercero.Nombre}}
                    </td>
                    <td>
                        {{dataItem.Tercero.Direccion}}
                    </td>
                    <td>
                        {{dataItem.Tercero.Telefono}}
                    </td>
                </tr>
            </a>
        </script>

</div>