<div class="row-fluid banner-ventas">
    <img src="css\images\estado-cuenta.png" />
</div>
<div class="container css-form form-cliente">

    <h2 class="titles-vw">Detalles cuenta {{nombreCliente}}</h2>
    <center> <h2 class="titles-vw" style="font-size:18px !important">Puntos cargados</h2></center>
    <div>
        <div>
            <!--<kendo-mobile-list-view id="gridHistorialPtsBeneficiarios" options="historialPtsBeneficiarioOptions"/>-->
            <ul class="km-widget km-listview km-list">
                <li class="ng-scope" ng-repeat="datalist in ListBeneficiariosHistoricos  | pagination: curPage1 * pageSize1 | limitTo: pageSize1 ">
                    <div class="product">

                        {{datalist.Valor | currency: $ : 2}}

                        <div>
                            <label class="lbl-list">Puntos:</label>
                            <span class="vlr-list">{{datalist.Puntos | number : 0}}</span>
                        </div>
                        <div>
                            <label class="lbl-list">Fecha:</label>
                            <span class="vlr-list">{{datalist.Fecha | date : 'dd-MM-yyyy'}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <center>
                <br />
                <div id="navcontainer" ng-show="ShowPaging1">
                    <ul>
                        <li>
                            <button type="button" class="btn btn-primary" ng-disabled="curPage1 == 0"
                                    ng-click="curPage1=curPage1-1">
                                &lt; PREV
                            </button>
                        </li>
                        <li>
                            <!--<span>Page {{curPage1 + 1}} of {{ numberOfPages1() }}</span>-->
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary" style="margin-left:45%"
                                    ng-disabled="curPage1 >= ListBeneficiariosHistoricos.length/pageSize1 - 1"
                                    ng-click="curPage1 = curPage1+1">
                                NEXT &gt;
                            </button>
                        </li>
                    </ul>
                </div>
            </center>
        
    </div>
        <br />
    <div>
        <center><h2 class="titles-vw" style="font-size:18px !important">Compras realizadas</h2> </center>
        <!--<kendo-mobile-list-view id="gridHistorialTxBeneficiarios" options="historialTxBeneficiarioOptions">

        </kendo-mobile-list-view>-->

        <ul class="km-widget km-listview km-list">
            <li class="ng-scope" ng-repeat="dataItem in ListBeneficiariosCompras  | pagination: curPage2 * pageSize2 | limitTo: pageSize2 ">
                <div class="product">
                    <h3>{{dataItem.Compra.Afiliado.Cliente.Tercero.Nombre}}</h3>
                    <div>
                        <label class="lbl-list">Fecha:</label>
                        {{dataItem.Compra.Fecha | date : 'dd-MM-yyyy'}}
                    </div>
                    <div>
                        <label class="lbl-list">Valor:</label>
                        {{dataItem.Compra.Valor | currency: $ : 2}}
                    </div>
                </div>
            </li>
        </ul>
        <center>
            <br />
            <div id="navcontainer" ng-show="ShowPaging2">
                <ul>
                    <li>
                        <button type="button" class="btn btn-primary" ng-disabled="curPage2 == 0"
                                ng-click="curPage2=curPage2-1">
                            &lt; PREV
                        </button>
                    </li>
                    <li>
                        <!--<span>Page {{curPage2 + 1}} of {{ numberOfPages2() }}</span>-->
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" style="margin-left:45%"
                                ng-disabled="curPage2 >= ListBeneficiariosCompras.length/pageSize2 - 1"
                                ng-click="curPage2 = curPage2+1">
                            NEXT &gt;
                        </button>
                    </li>
                </ul>
            </div>
        </center>
    </div>
</div>

<style>
    .product {
    }

        .product h3 {
            font-size: 1.3em;
            line-height: 1.4em;
            margin: 0;
            padding: 0;
            height: 1.3em;
            overflow: hidden;
        }

        .product p {
            font-size: 1em;
            margin: 0;
            padding: .3em 0 0;
        }
</style>
</div>

