<div class="row-fluid banner-ventas">
    <img src="css\images\estado-cuenta.png" />
</div>
<div class="container css-form form-cliente">

    <h2 class="titles-vw">Detalles cuenta {{nombreCliente}}</h2>
    <center> Puntos cargados</center>
    <div>
        <kendo-mobile-list-view id="gridHistorialPtsBeneficiarios" options="historialPtsBeneficiarioOptions" />

    </div>
    <div>
        <center> Compras realizadas</center>
        <kendo-mobile-list-view id="gridHistorialTxBeneficiarios" options="historialTxBeneficiarioOptions">

        </kendo-mobile-list-view>

    </div>
</div>

<style>
    .product {
    }

        .product h3 {
            font-size: 1.3em;
            line-height: 1.4em;
            margin: 0;
            padding: 0;
            height: 1.3em;
            overflow: hidden;
        }

        .product p {
            font-size: 1em;
            margin: 0;
            padding: .3em 0 0;
        }
</style>

<script id="tmpdetallesCtaBeneficiario" type="text/x-kendo-tmpl">
    <div>

        {{dataItem.Valor | currency: $ : 2}}

        <div>
            <label class="lbl-list">Puntos:</label>
            <span class="vlr-list">{{dataItem.Puntos | number : 0}}</span>
        </div>
        <div>
            <label class="lbl-list">Fecha:</label>
            <span class="vlr-list">{{dataItem.Fecha | date : 'dd-MM-yyyy'}}</span>
        </div>
    </div>
</script>



<script id="tmpHistorialTxBeneficiario" type="text/x-kendo-tmpl">
    <div class="product">
        <h3>{{dataItem.Compra.Afiliado.Cliente.Tercero.Nombre}}</h3>
        <div>
            <label class="lbl-list">Fecha:</label>
            {{dataItem.Compra.Fecha | date : 'dd-MM-yyyy'}}
        </div>
        <div>
            <label class="lbl-list">Valor:</label>
            {{dataItem.Compra.Valor | currency: $ : 2}}
        </div>
    </div>
</script>
