<div class="row-fluid banner-ventas">
    <img src="css\images\Seguridad.jpg" />
</div>

<div class="container css-form form-cliente" >
   <h2 class="titles-vw">Cambio de clave</h2>
    <form name="form" ng-submit="cambiarClave()" class="css-form form-password" role="form">
        <div class="form-group">
            <label>Clave actual <a style="color:brown !important">*</a></label>
            <input type="password" ng-model="security.clave" class="form-control" id="txtClave" name="txtClave" ng-change="ErrorPassword = false" required placeholder="Clave actual">
            <span ng-show="form.txtClave.$dirty && form.txtClave.$error.required" class="help-block">Clave es requerida</span>
        </div>

        <div class="form-group">
            <label>Nueva Clave <a style="color:brown !important">*</a></label>
            <input type="password" data-ng-model="security.newClave" class="form-control" ng-change="ErrorPassword = false"  id="txtClaveNew" name="txtClaveNew" required placeholder="Nueva clave">
            <span ng-show="form.txtClaveNew.$dirty && form.txtClaveNew.$error.required" class="help-block">Clave es requerida</span>
            <span ng-show="form.txtClaveNew.$dirty && security.newClave == security.clave" class="help-block">La nueva clave no puede ser igual a la anterior</span>
        </div>

        <div class="form-group">
            <label>Confirmar Clave <a style="color:brown !important">*</a></label>
            <input type="password" data-ng-model="security.newClaveConfirm" class="form-control" ng-change="ErrorPassword = false" id="txtClaveConfirm" name="txtClaveConfirm" required placeholder="Confirmar clave">
            <span ng-show="form.txtClaveConfirm.$dirty && form.txtClaveConfirm.$error.required" class="help-block">Requerido</span>
            <span ng-show="form.txtClaveConfirm.$dirty && security.newClave != security.newClaveConfirm" class="help-block">La nueva clave no coincide</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid ||cargar|| dataLoading ||ErrorPassword|| security.newClave != security.newClaveConfirm || security.newClave == security.clave" class="btn btn-info">Guardar</button>
        </div>
    </form>


   <h2 class="titles-vw" ng-show="canCambiarPIN">Cambio de Pin</h2>

    <form ng-show="canCambiarPIN" name="form2" ng-submit="cambiarPIN()" class="css-form" role="form">
        <div class="form-group">
            <label>PIN actual <a style="color:brown !important">*</a></label>
            <input type="password" ng-maxlength="4" ng-minlength="4" ng-model="security.PIN" ng-change="ErrorPin = false" class="form-control" id="txtPIN" name="txtPIN" required placeholder="PIN">
            <span ng-show="form2.txtPIN.$dirty && form2.txtPIN.$error.required" class="help-block">PIN es requiredo</span>
            <span ng-show="form2.txtPIN.$dirty && security.PIN.length!=4" class="help-block">PIN es de 4 digitos</span>
        </div>

        <div class="form-group">
            <label>Nuevo PIN <a style="color:brown !important">*</a></label>
            <input type="password" ng-maxlength="4" ng-minlength="4" data-ng-model="security.newPIN" ng-change="ErrorPin = false" class="form-control" id="txtPINNew" name="txtPINNew" required placeholder="Nuevo PIN">
            <span ng-show="form2.txtPINNew.$dirty && form2.txtPINNew.$error.required" class="help-block">PIN es requireda</span>
            <span ng-show="form2.txtPINNew.$dirty && security.PIN == security.newPIN" class="help-block">Nuevo PIN no puede ser igual al anterior</span>
            <span ng-show="form2.txtPINNew.$dirty && security.newPIN.length!=4" class="help-block">PIN es de 4 digitos</span>
        </div>

        <div class="form-group">
            <label>Confirmar PIN <a style="color:brown !important">*</a></label>
            <input type="password" ng-maxlength="4" ng-minlength="4" data-ng-model="security.newPINConfirm" ng-change="ErrorPin = false" class="form-control" id="txtPINConfirm" name="txtPINConfirm" required placeholder="Confirmar PIN">
            <span ng-show="form2.txtPINConfirm.$dirty && form2.txtPINConfirm.$error.required" class="help-block">Requiredo</span>
            <span ng-show="form2.txtPINConfirm.$dirty && security.newPIN != security.newPINConfirm" class="help-block">El nuevo PIN no coincide</span>
            <span ng-show="form2.txtPINConfirm.$dirty && security.newPINConfirm.length!=4" class="help-block">PIN es de 4 digitos</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form2.$invalid ||cargar|| dataLoading ||ErrorPin|| security.newPIN != security.newPINConfirm || security.PIN == security.newPIN" class="btn btn-info">Guardar</button>
        </div>
    </form>
</div>