<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div class="col-md-4">
        <form id="loginForm" method="POST" action="" >
            <div class="form-group">
                <label for="username" class="control-label">Nombre Usuario</label>
                <input type="text" class="form-control" id="username" name="username" value="" required placeholder="Nombre Usuario">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" value="" required>
                <span class="help-block"></span>
            </div>
            <div id="RecorContra" class="alert alert-error hide">Wrong username og password</div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember" id="remember"> Recordar Contraseña
                </label>
            </div>
            <div class="label">
                <label>
                    <p>Olvidaste tu Contraseña ?</p>
                </label>
            </div>
            <button type="submit" class="btn btn-success btn-block">Login</button>
            <button type="submit" class="btn btn-success btn-block">Registrarse</button>
        </form>
    </div>


    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>

    <script src="scripts/index.js"></script>
</body>
</html>