
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/slidemenu.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="js/modernizr.custom.js"></script>


<ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
        <a id="mainMenuIcon" class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
                    <li ng-repeat="asegurable in asegurables">
                        <a href="#{{asegurable.Asegurable.Ruta}}" ng-click="ocultar()">
                            &nbsp;<i class="{{asegurable.Asegurable.Class}}"></i>&nbsp; {{asegurable.Asegurable.Nombre}}
                        </a>
                    </li>
                    <li>
                        <a ng-click="logout()">&nbsp; <i class="fa fa-power-off"></i> Cerrar Sesión</a>
                    </li>
                </ul>
            </div><!-- /gn-scroller -->
        </nav>
    </li>

</ul>


<script src="js/classie.js"></script>
<script src="js/gnmenu.js"></script>
<script>
    new gnMenu(document.getElementById('gn-menu'));
</script>
<script>
    $("#menu-toggle").click(function (e) {

        $("#wrapper").toggleClass("toggled");
    });
</script>

<script>
    var $nav = jQuery('a');
    $nav.on('click', function (e) {
        jQuery("#wrapper").toggleClass("toggled");

    });
</script>
