

<div class="row-fluid banner-ventas">
    <img src="css\images\beneficiario.png" />
</div>
<div class="container form-cliente">
    <h2 class="titles-vw">
        Listar beneficiarios</h2>

        <button ng-click="goPath('/beneficiariosDetails/0')" class="btn btn-primary btn-lg btn-block">Nuevo beneficiario</button>
        <div id="space"></div>





        <div id="example">

            <kendo-mobile-list-view id="gridBeneficiarios" options="beneficiariosGridOptions">
            </kendo-mobile-list-view>

        </div>

        <div id="space"></div>


    <script id="rowBeneficiariosTemplate2" type="text/x-kendo-tmpl">
        <a class="container list-style line-list" href="\#/beneficiariosDetails/{{dataItem.BeneficiarioId}}">
            <div>

                {{dataItem.Tercero.Nombre}}

                <div>
                    <label class="lbl-list">Direccion:</label>
                    <span class="vlr-list"> {{dataItem.Tercero.Direccion}}</span>
                </div>
                <div>
                    <label class="lbl-list">Telefono:</label>
                    <span class="vlr-list"> {{dataItem.Tercero.Telefono}}</span>
                </div>
            </div>
        </a>
    </script>

</div>