<div class="row-fluid banner-ventas">
    <img src="css\images\banners-home.png" />
</div>
<div class="css-form form-home">
    <!--form del home para beneficiarios-->
    <form name="form" id="form" class="css-form" ng-show="showInfoBenificiario" role="form">
        <br/>
        <center>
            <h3 class="titles-vw">Saldo Actual {{saldo | currency: $ : 2}}</h3>
        </center>
       
        <button class="btn-perfil" ng-click="gotoHistorial()"> Historial de redenciones <div class="float"><i class="fa fa-user-plus"></i></div></button>

        <br/>
        <button class="btn-conciliaciones" ng-click="goPath('/ComercioAsociado')" >Comercios Asociados <div class="float"><i class="fa fa-thumbs-up"></i></div></button>
        <br/>
        <button class="btn-afiliados" ng-click="gotoPerfil()"> Perfil <div class="float"><i class="fa fa-university"></i></div></button>
        <br/>
        <br/>
        <br/>
        <center> <button class="btn btn-lg btn-block btn-marg btn-registrar" ng-click="goPath('/compra')" style="width: 50%"> Comprar</button></center>
    </form>
    <!--form del home para clientes-->
    <form name="form" id="form" class="css-form" ng-show="ShowInfoCliente" role="form">

        <br/>
        <button class="btn-perfil"  ng-click="gotoPerfilCliente()"> Perfil <div class="float"><i class="fa fa-user-plus"></i></div></button>
        <br/>
        <button class="btn-conciliaciones" ng-click="goPath('/conciliaciones')" > Conciliaciones <div class="float"><i class="fa fa-thumbs-up"></i></div> </button>
        <br />
        <button class="btn-afiliados"  ng-click="goPath('/afiliadosCliente')"> Afiliados <div class="float"><i class="fa fa-university"></i></div></button>
        <br />
        <button class="btn-beneficiarios"  ng-click="goPath('/beneficiariosCliente')">Beneficiarios <div class="float"><i class="fa fa-users"></i></div></button>
        <br />
        <button class="btn-quivalencias"  ng-click="goPath('/equivalencias')"> Equivalencias <div class="float"><i class="fa fa-balance-scale"></i></div></button>
        <br/>
        <button class="btn-ventas"  ng-click="goPath('/vender')"> Ventas <div class="float"><i class="fa fa-home fa-fw"></i></div></button>
    </form>
</div>





