<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <div class="col-md-4">
        <form id="RegisterForm" method="POST" action="">
            <header>Registro</header>

            <div class="form-group">
                <label for="Name" class="control-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" value="" required placeholder="Nombre">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Apellido</label>  
                <input type="text" class="form-control" id="lastname" name="lastname" value="" required placeholder="Apellido">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Apellido</label>
                <input type="text" class="form-control" id="lastname" name="Identificacion" value="" placeholder="Identificación">
                <span class="help-block"></span>
            </div>

            <button type="submit" class="btn btn-success btn-block">Login</button>
            <button type="submit" class="btn btn-success btn-block">Registrarse</button>
        </form>
    </div>


    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>

    <script src="scripts/index.js"></script>
</body>
</html>