<!DOCTYPE html>
<html>
<head>
    <title>Listar Clientes</title>

</head>
<body>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group" >
                <select class="btn-block" name="txt_cli" id="txt_cli" required >
					<option value="">Seleccionar Cliente</option>
                    <option value="one">Cliente 1</option>
                    <option value="two">Cliente 2</option>
                    <option value="three">Cliente 3</option>
				</select>
                <button type="button" name="btn-selec" class="btn btn-primary">Buscar</button>
                <button type="button" name="btn-nuevcli" class="btn btn-primary" href="">Registrar Cliente</button>
            </div>
        </div>
    </div>

</body>
</html>
