
<div class="row-fluid banner-ventas">
    <img src="css\images\Conciliaciones.jpg" />
</div>
<div class="container css-form form-cliente" style="position:static; width:98%">
    <div kendo-tab-strip k-content-urls="[ null, null]" id="" style=" ;background-color: rgba(255, 255, 255, 0) !important">
        <!-- tab list -->
        <ul>
            <li class="k-state-active">Enviar</li>
            <li style="width:49%" >Recibir</li>
        </ul>

        <!-- Primer tab -->
        <div style="padding:0em .0em !important; position:static" class="form-cliente">
            <div ">
                <div id="example">
                    <div class="padd-btn">
                        <button ng-click="goPath('/conciliacionesNew')" class="btn btn-primary btn-lg btn-block">Nueva Conciliación</button>
                    </div>

                    <div class="form-group">
                        <input type="text" ng-model="filter8" class="form-control" id="txtFilter" name="txtFilter" style="width:80%; height:35px !important" placeholder="Search...">
                        <button ng-click="ConciliacionespaginadasByClienteFiltrar()" class="btn btn-primary btn-lg btn-block fa fa-search" style="height:15px; width:13px; margin-left:91%; margin-top:-23%"></button>
                    </div>

                    <kendo-mobile-list-view id="divConciliacionesEnvia" options="conciliacionAliadosGridOptions" />

                </div>
                <br />
                <div ng-show="ShowPagingConciliaciones1">
                    <button type="button" class="btn btn-primary" ng-click="ConciliacionespaginadasByClientePrev()" ng-disabled="Prev8">
                        &lt; PREV
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="ConciliacionespaginadasByClienteNext()" ng-disabled="Next8" style="margin-left:42%">
                        NEXT &gt;
                    </button>
                </div>
            </div>
        </div>

        <!-- Segundo tab -->
        <div style="padding:0em .0em !important;">
            <div >

                <div class="form-group">
                    <input type="text" ng-model="filter10" class="form-control" id="txtFilter" name="txtFilter" style="width:80%; height:35px !important" placeholder="Search...">
                    <button ng-click="ConciliacionespaginadasByAliadoFiltrar()" class="btn btn-primary btn-lg btn-block fa fa-search" style="height:35px; width:35px; margin-left:87%; margin-top:-18%"></button>
                </div>

                <kendo-mobile-list-view options="conciliacionClientesGridOptions" id="GridConciliaciones2"/>
            </div>
            <br />
            <div ng-show="ShowPagingConciliaciones2">
                <button type="button" class="btn btn-primary" ng-click="ConciliacionespaginadasByAliadoPrev()" ng-disabled="Prev10">
                    &lt; PREV
                </button>
                <button type="button" class="btn btn-primary" ng-click="ConciliacionespaginadasByAliadoNext()" ng-disabled="Next10" style="margin-left:42%">
                    NEXT &gt;
                </button>
            </div>
        </div>
    </div>
</div>
<script id="tmpConciliacionxAliado" type="text/x-kendo-tmpl">
    <a class="container list-style" href="\#/conciliacionesDetails/{{dataItem.ConciliacionId}}">
        <div>
            <h3 class="title-list">
                {{dataItem.AfiliadosCliente.Afiliado.Cliente.Tercero.Nombre}}
            </h3>
            <div>
                <label class="lbl-list">Valor:</label>
                <span class="vlr-list"> {{dataItem.Valor | currency: $ : 2}}</span>
            </div>
            <div>
                <label class="lbl-list">Fecha:</label>
                <span class="vlr-list">{{dataItem.Fecha | date : 'dd-MM-yyyy'}}</span>
            </div>
            <div>
                <label class="lbl-list">Estado:</label>
                <span class="vlr-list">{{dataItem.Estado}}</span>
            </div>
        </div>
    </a>
</script>

<script id="tmpConciliacionxCliente" type="text/x-kendo-tmpl">
    <a class="container list-style" href="\#/recibirConciliaciones/{{dataItem.ConciliacionId}}">
        <div>
            <h3 class="title-list">
                {{dataItem.AfiliadosCliente.Cliente.Tercero.Nombre}}
            </h3>
            <div>
                <label>Valor:</label>
                {{dataItem.Valor | currency: $ : 2}}
            </div>
            <div>
                <label>Fecha:</label>
                {{dataItem.Fecha | date : 'dd-MM-yyyy'}}
            </div>
            <div>
                <label class="lbl-list">Estado:</label>
                <span class="vlr-list">{{dataItem.Estado}}</span>
            </div>
        </div>
    </a>
</script>