<div class="row-fluid banner-ventas">
    <img src="css\images\compra.png" />
</div>
<div class="container">
    <div >
        <div class="form-group">
            <label>Afiliado</label>
            <input type="text" readonly data-ng-model="Compra.afiliado.Cliente.Tercero.Nombre" class="form-control" id="formRegBen" placeholder="Aliado">
        </div>

        <div class="form-group">
            <label>Valor</label>
            <input type="text"  data-ng-model="Compra.Valor" class="form-control" id="formRegPin" placeholder="Valor">
        </div>

        <div class="form-group">
            <label>Numero de Factura</label>
            <input type="text"  data-ng-model="Compra.NumeroFactura" class="form-control" id="formRegPin" placeholder="Numero de Factura">
        </div>
    </div>
</div>

